# backend dependencies
fastapi
uvicorn[standard]
sqlmodel
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
python-multipart
email-validator

# ML model dependencies
joblib
scikit-learn==1.6.1
pandas
